<div class="post">
  <h2 class="title">
    {{#link-to 'blog.index' blog}}{{blog.slug}}{{/link-to}}
  </h2>
  <img {{bind-attr src=imgUrl}} class='preview-img'>
  <p class='preview'>
    {{longledge}}
  </p>
</div>

