$background: #FAFAFA;
$link: #0084B4;
$border: #ccc;
$secondary_border: #f6f6f6;

@import 'reset';
@import 'home';
@import 'blog';

html, body {
  color: #333333;
  font: 12px 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
  background: #FAFAFA;
  overflow-x: hidden;
  cursor: default;
  height: 100%;
}

