@import 'reset';
@import 'home';
@import 'blog';

html, body {
  color: #707070;
  font: 12px 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
  background: #FAFAFA;
  overflow-x: hidden;
  cursor: default;
  height: 100%;
}

