<div class="list-container">
  <h2 id='title' class='home'>{{#link-to 'application'}}Prismic.io Blog with Ember.js{{/link-to}}</h2>
  <ul class='list'>
    {{ember-prismicio}}
  </ul>
</div>


<div class="blog">
  {{outlet}}
</div>
